.mobile-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 1rem;
}

.ri-menu-4-line {
    font-size: 2.5rem;
    color:#88A376;
}
.ri-close-line {
    font-size: 2.5rem;
    color:#88A376;
    
}

.ri-menu-4-line:hover,
.ri-menu-4-line:focus {
    
    cursor: pointer;
}

.mobile-view-logo {
    font-family: var(--font-outfit);
    font-size: 2rem;
}

.overlay {
    position: fixed;
    width: 100%;
    background: #88A376;
    min-height: 65vh;
    z-index: 20;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
    bottom: 0;
    left: 0;
}

.overlay.open {
    transform: translateY(0);
    opacity: 1;
}

.overlay__list {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    margin-left: 3rem;
    margin-top: 2rem;
    list-style: none;
}

.overlay__list-item {
    font-family:var(--font-outfit);
    font-weight: 600;
    font-size: 1.4rem;
    color: white;
}


