

.hero {
    min-height: 100vh;
    font-family: var(--font-outfit);
    background-image: url(/images/heroimage.png);
    background-position:center center;
    background-size: cover;
    
}

.hero-title-container {
    margin-top: 2rem;
    text-align: center;
}

.hero__title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-dark-gray);
}

.hero__subtitle {
    font-size: 3rem;
    color: var(--color-dark-gray);
}

 @media (max-width: 600px) {
  .hero {
    background-image: url("/images/mobile_crop.png");
    background-position: center center; 
   }
} 


