



.hero-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-outfit);
    z-index: 2222;
     min-height: 100vh;
    font-family: var(--font-outfit);
    background-image: url(/images/bakgrund.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.hero__title{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-dark-gray);
    margin-top: 3rem;
}

.ri-arrow-down-s-line.black{
    color:#114E45;
}

.hero__subtitle {
    font-size: 3rem;
    color: #114E45;
}
/* 
 @media (max-width: 800px) {
  .hero {
   background-size: 800px auto;
   background-position: center bottom; 
   }
}  */


