

.hero {
    min-height: 100vh;
    font-family: var(--font-outfit);
    background-image: url(/images/heroimage.png);
    background-position: center bottom;
   background-size: contain;
   background-repeat: no-repeat;
   
    
    
}

.hero-title-container {
    margin-top: 2rem;
    text-align: center;
    font-family: var(--font-outfit);
}

.hero__title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-dark-gray);
}

.hero__subtitle {
    font-size: 3rem;
    color: var(--color-green);
    
}

 @media (max-width: 800px) {
  .hero {
   background-size: 800px auto;
   background-position: center bottom; 
    
   }
} 


