.sectionOne-container {
    color: white;
    font-family: "Outfit";
    max-width: 500px;
}

.sectionone-title{
    font-size: 2rem;
}
.sectionOne-container>p{
    font-size: 1.2rem;
    line-height: 1.6;
}