


.learnMore {
    padding: .7rem 1.3rem;
    background: none;
    border: 1px solid;
    color: white;
    font-family: "outfit";
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 1rem;
    cursor: pointer;
}